name: Reboot Runner
on:
  push:
    branches:
      - main
jobs:
  test-runner:
    runs-on:
      - self-hosted
      - linux
      - x64

    steps:
      - name: Pilotage du runner
        run: echo "Test de fonctionnement du Runner !"
      - name: tests de commandes
        run: |
          sudo reboot
